*{
	box-sizing: border-box;

}

body{
	margin: 0;
	background: #a4f4d3;
	font-family: 'Merienda One', cursive;
}

h2{
	text-align: center;
	color: #32915d;
	height: 10%;
	
}

.main{
	height: 90%;
	width: 95%;
	min-height: 400px;
	background-image: linear-gradient(150deg, #82ddab 5%, #32915d 90%);
	position: absolute;
	right: 2%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

}

.main_basic{
	position: relative;
	height: 85%;
	width: 45%;
	background-image: linear-gradient(150deg, #b7f4d3 5%, #3fb574 90%);

}

#choise{
	display: flex;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	flex-flow: row wrap;
	padding: 6%;


}

.btn{
	height: 25%;
	width: 25%;
	margin: 10px;
	background: white;
	cursor: pointer;
	transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
	font-family: 'Merienda One', cursive;
	font-size: 2em;

}

.btn:hover{
	background-color: #32905d; 
}

#result{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

}

#random_number{
	height: 25%;
	width: 25%;
	background: #b7f4d3;
	font-size: 2em;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#result_text{
	text-align: center;
	height: 10%;
	color: white;
	text-align: center;
	font-size: 1.5em;
}

